<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'btlib/css/pure-min.css' %}">
    <link rel="stylesheet" href="{% static 'btlib/css/side-menu.css' %}">
</head>
<body>
<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu pure-menu-open">
            <a class="pure-menu-heading" href="{% url 'btlib_index' %}">BTLib</a>
            <ul>
                <li><a href="{% url 'btlib_index' %}">Index</a></li>
                <li><a href="">Changes</a></li>
                <li><a href="">Pending</a></li>
                <li><a href="">Teasers</a></li>
                <li class="menu-item-divided">
                    <a href="">Catalogue</a>
                </li>
                <li><a href="">Translations</a></li>
                <li class="menu-item-divided">
                    <a href="">Account</a>
                </li>
                <li><a href="">Login/Logout</a></li>
            </ul>
        </div>
    </div>

    <div id="main">
        <div class="header">
            {% block header %}<h1>BTLib</h1>{% endblock %}
        </div>
        <div class="content">
           {% block body %}{% endblock %}
        </div>
    </div>
</div>
<script src="{% static 'btlib/js/ui.js' %}"></script>
</body>
</html>
