{% extends 'bakat/theme.html' %}
{% load markup %}
{% block title %}BT Rebuild test - {{ up.name }} - {{ chap.name }}{% endblock %}
{% block body %}
<h1>{{ chap.name }}</h1>
{{ chap.text|markdown:"safe" }}
<div id = 'nav'>
{% if prev %}<a href="{{ prev.get_absolute_url }}" >Previous Chapter: {{ prev.name }}</a>{% endif %}
<a href="{{ chap.get_series.get_absolute_url }}" >Back to Series: {{ chap.get_series.name }}</a>
{% if next %}<a href="{{ next.get_absolute_url }}" >next Chapter: {{ next.name }}</a>{% endif %}
</div>
{% endblock %}