{% extends 'btlib/base.html' %}
{% block body %}
<h3 id="myModalLabel">Add {{ key|capfirst }}</h3>
<form class="form-horizontal" role="form">
{% for field in form %}
  <div class="form-group">
    <label for="id_{{ field.name }}" class="col-lg-2 control-label">{{ field.label }}</label>
    <div class="col-lg-10">
      {{ field.errors }}
      {{ field }}
    </div>
  </div>
{% endfor %}
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <input type="hidden" name="next" value="{% url "btds_index" %}"/>
      <button type="submit" class="btn btn-block btn-success" name="add{{ key|capfirst }}">Add {{ key|capfirst }}</button>
    </div>
  </div>
</form>
{% endblock %}