{% extends 'btlib/theme.html' %}
{% block body %}
    <h1>Light Novel System Prototype</h1><br/>
    {% if ln_list %}
        <h2>Light Novels</h2><br/>
        <ul>
            {% for ln in ln_list %}
                <li><a href="{{ ln.get_absolute_url }}">{{ ln.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if lang_list %}
        <h2>Alternate Languages</h2><br/>
        <ul>
            {% for lang in lang_list %}
                <li><a href="{{ lang.get_absolute_url }}">{{ lang.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}